{% extends "base_tutor.html" %}

{% block page_title %}Ticket bearbeiten{% endblock page_title %}

{% block content %}
    <h2 class="content-heading"> Ticket Übersicht</h2>
    
    <table class="custom-table">
        <thead>
            <tr>
                <th>Ersteller</th>
                <th>Aktueller Bearbeiter</th>
                <th>Kurs</th>
                <th>Kursmaterial</th>
                <th>Aktueller Status</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ korrektur.ersteller }}</td>
                <td>{{ korrektur.bearbeiter }}</td>
                <td>{{ korrektur.kurs }}</td>
                <td>{{ korrektur.kursmaterial }}</td>
                <td>{{ korrektur.aktuellerStatus }}</td>
            </tr>
        </tbody>
    </table>

    <div class="spacer1"></div>

    
    <h4>Ticket Verlauf & Kommunikation</h4>
    
    <div class="spacer1"></div>
    {% include "include/messaging.html" %}
    
    <div class="spacer"></div>
    <h4>Eine Neue Nachricht verfassen:</h4>
    
    <div class="spacer1"></div>
        <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Send</button>
    </form>
{% endblock content %}
