{% extends "base_tutor.html" %}

{% block page_title %}Korrekturenübersicht{% endblock %}
{% block content %}
    <h2 class="content-heading">Offene Tickets</h2>
    <table class="custom-table">
        <thead>
            <tr>
                <th>Kurs</th>
                <th>Kursmaterial</th>
                <th>Ersteller</th>
                <th>Status</th>
                <th>Aktion</th>
            </tr>
        </thead>
        {% for korrektur in korrekturen %}
        <tbody>
            <tr>
                <td>{{ korrektur.kurs }}</td>
                <td>{{ korrektur.kursmaterial }}</td>
                <td>{{ korrektur.ersteller }}</td>
                <td>{{ korrektur.aktuellerStatus }}</td>
                <td>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="korrektur_id" value="{{ korrektur.id }}" />
                        <button type="submit">Mir zuweisen</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="spacer"></div> 

    <h2>Meine Tickets</h2>
    <div class="spacer1"></div>
    <table class="custom-table">
        <thead>
            <tr>
                <th>Kurs</th>
                <th>Kursmaterial</th>
                <th>Ersteller</th>
                <th>Status</th>
                <th>Aktion</th>
            </tr>
        </thead>
        {% for korrektur in meine_korrekturen %}
        <tbody>    
            <tr>
                <td>{{ korrektur.kurs }}</td>
                <td>{{ korrektur.kursmaterial }}</td>
                <td>{{ korrektur.ersteller }}</td>
                <td>{{ korrektur.aktuellerStatus }}</td>
                <td><a href="/backend/korrekturen/{{ korrektur.id }}">Bearbeiten...</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
