{% extends 'base.html' %}

{% load static %}

{% block page_title %}Fehlermeldung in Lernunterlagen{% endblock %}

{% block content %}
    <h1>Fehlermeldung in Lernunterlagen</h1>
    <h2>Melden Sie einen Fehler</h2>
    <form method="post" id="korrekurForm" data-kursmaterialien-url="{% url 'ajax_load_kursmaterialien' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Senden</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $("#id_kurs").change(function () {
            const url = $("#korrekurForm").attr("data-kursmaterialien-url");  // get the url of the `load_cities` view
            const kursId = $(this).val();  // get the selected country ID from the HTML input

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
                data: {
                    'kurs_id': kursId       // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#id_kursmaterial").html(data);  // replace the contents of the city input with the data that came from the server
                    /*

                    let html_data = '<option value="">---------</option>';
                    data.forEach(function (city) {
                        html_data += `<option value="${city.id}">${city.name}</option>`
                    });
                    console.log(html_data);
                    $("#id_city").html(html_data);

                    */
                }
            });

        });
    </script>
{% endblock %}