{% extends 'base.html' %}

{% block page_title %}Messaging{% endblock %}

{% block content %}

<h2 class="content-heading">Nachrichtenverlauf</h2>
<table class="custom-table">
    <thead>
        <tr>
            <th>Absender</th>
            <th>Nachricht</th>
        </tr>
    </thead>
    <tbody>
        {% for message in messages %}
            <tr>
                <td>
                {% if message.sender == "01" %}
                    {{ message.tutor }}
                {% elif message.sender == "02" %}
                    {{ message.student.nachname }}, {{ message.student.vorname }}
                {% endif %}
                </td>
                <td>{{ message.text }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="spacer"></div>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Senden</button>
</form>
{% endblock %}
