{% extends 'base_tutor.html' %}

{% block page_title %}Messaging{% endblock %}

{% block content %}

<h2 class="content-heading">Nachrichtenverlauf</h2>
<table class="custom-table">
    <thead>
        <tr>
            <th>Absender</th>
            <th>Nachricht</th>
        </tr>
    </thead>
    <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.student.vorname }}</td>
                <td>{{ message.text }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="spacer"></div>

<h4>Neue Nachricht</h4>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Senden</button>
</form>
{% endblock %}
