{% extends 'base.html' %}

{% block page_title %}Student Dashboard{% endblock %}

{% block content %}
    <h2 class="content-heading">Student Dashboard</h2>
    <p>Hallo <span class="name-text">{{vorname}} {{nachname}}</span>!</p>
    <p class="small-text" style="white-space: nowrap;">E-Mail-Adresse des Benutzers: {{ email }}</p>
    <p class = small-text>Matrikelnummer des Benutzers: {{ matrikelnummer }} </p>
    <div class="spacer"></div>
      

    <h4>Meine gemeldeten Fehler:</h4>
    <div class="spacer1"></div>

{% if fehlermeldungen %}
    <table class="custom-table">
        <thead>
            <tr>
                <th>Fehler Typ</th>
                <th>Kurs</th>
                <th>Aktueller Status</th>
                <th>Ticket Beschreibung</th>
                <th>Kontaktmöglichkeit</th>
            </tr>
        </thead>
        <tbody>
            {% for fehler in fehlermeldungen %}   
            <tr>
                    <td>{{ fehler.kursmaterial }}</td>
                    <td>{{ fehler.kurs }}</td>
                    <td>{{ fehler.aktuellerStatus }}</td>
                    <td>{{ fehler.beschreibung }}</td>
                    <td><a href="{% url 'korrektur_messages' korrektur_id=fehler.id %}">Nachrichten anzeigen</a></td>
                </tr>
        
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Keine Fehlermeldungen gefunden.</p>
{% endif %}
{% endblock %}