{% extends 'base.html' %}

{% load static %}

{% block page_title %}Student Dashboard{% endblock %}

{% block content %}
  <h2>Student Dashboard</h2>
  <p>Hallo {{vorname}} {{nachname}}!</p>
  <p>E-Mail-Adresse des Benutzers: {{ email }}</p>
  <p>Matrikelnummer des Benutzers: {{ matrikelnummer }} </p>
  </br>
  <p>Neuen Fehler melden</p>
  <p>Meine gemeldeten Fehler:</p>
  {% if fehlermeldungen %}
          <ul>
          {% for fehler in fehlermeldungen %}
              <li>
                {{ fehler.typ }}:
                {{ fehler.kurs }}:
                {{ fehler.aktuellerStatus }}:
                {{ fehler.fehler_beschreibung }} 
                </li>
          {% endfor %}
          </ul>
      {% else %}
          <p>Keine Fehlermeldungen gefunden.</p>
      {% endif %}

  <!-- Include the Logout Link -->
  <a href="{% url 'fehler_melden' %}">Fehler melden</a>
        </br>
  <a href="{% url 'logout' %}">Logout</a>
{% endblock %}
